<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./agro.css">
    <title>Categorias</title>
</head>
<body>
    <header>
            <h1> Cuidar da terra é cuidar da vida <span>!!</span> </h1>
            <p>Diga NÃO à poluição e, juntos vamos preservar a natureza.</p>
    </header>

    <div class="timeline">
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"A agricultura é a base do desenvolvimento da África."</p>
                <h2> Norman Borlaug, agrônomo americano e ganhador do Prêmio Nobel da Paz</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"A terra é a nossa mãe, e devemos cuidar dela com amor e respeito."</p>
                <h2>Wangari Maathai, ambientalista queniana e ganhadora do Prêmio Nobel da Paz</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"A agricultura africana precisa ser modernizada e mecanizada para alimentar a crescente população do continente."</p>
                <h2>Akinwumi Adesina, economista nigeriano e presidente do Banco Africano de Desenvolvimento</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A pesquisa e a inovação são essenciais para aumentar a produtividade da agricultura africana."</p>
                <h2>Agnes Abuom, cientista agrícola queniana e diretora do Centro Internacional de Pesquisa Agrícola do Semi-árido (ICRAF)/h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"Os agricultores africanos precisam de acesso a crédito, mercados e tecnologia para prosperar."</p>
                <h2>Andrew Mitchell, economista americano e ex-diretor do Departamento para o Desenvolvimento Internacional do Reino Unido (DFID)</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div><div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A agricultura familiar é a espinha dorsal da agricultura africana."</p>
                <h2>Louise Sperling, agrónoma americana e diretora do Centro de Pesquisa Agrícola para o Desenvolvimento (CIRAD)/h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"As mulheres africanas desempenham um papel fundamental na agricultura, mas precisam de mais apoio e empoderamento."</p>
                <h2>Esther Winifred Golay, economista agrícola nigeriana e diretora do Instituto Internacional de Pesquisa sobre Políticas Alimentares (IFPRI)</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A agricultura africana precisa ser sustentável para proteger o meio ambiente e garantir a segurança alimentar das futuras gerações."</p>
                <h2>Ousmane Ba, cientista do solo senegalês e diretor do Instituto de Pesquisa Agrícola para o Desenvolvimento Sustentável (IRAD)</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>
    
</body>
</html>