<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./agro.css">
    <title>Categorias</title>
</head>
<body>
    <header>
            <h1> Cuidar da terra é cuidar da vida <span>!!</span> </h1>
            <p>Diga NÃO à poluição e, juntos vamos preservar a natureza.</p>
    </header>

    <div class="timeline">
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div><div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>
    
</body>
</html>