*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    color: #f0f0f0;
    padding: 80px 13% 70px;
}

header{ 
    padding: 80px 13% 70px;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 100px;
}

section{
    padding: 80px 13% 70px;
}

span{
    color: rgb(48, 255, 48);
}

.container p{
    margin-top: 2%;
    flex-wrap: wrap;
    font-size: 30px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card h5{
    color: #000000;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.card button{
    border-radius: 1px;
    color: #000000;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
}

.container p, 
h2, 
small{
    color: #000000;
}

.text-box{
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}