<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cat.css">
    <title>Categorias</title>
</head>
<body>
    <header>
        <div class="container">
            <h1> O mundo das engenharias pode ser desafiador <span>!!</span> </h1>
            <p>Todos os dias enfrentamos desafios novos, experiências novas acompanadas de uma gama de aprendizado. Cabe à nós resolvễ-los e criar algo novo enquanto resolvemo-los.</p>
        </div>

        <section>
            <div class="card-container">
                <div class="card">
                    <h5>"Engineering is the art of directing the great sources of power in nature for the benefit of man."</h5>
                    <button><p>Henry Petroski, American engineer and author</p></button>
                </div>

                <div class="card">
                    <h1>sjandjnasjndjsandjsadjnjnjdnasjdnjasndjjjnjsdjjndfvndfjvdjfvjdkf vjdf vjdf vkdjf vkdjf vjd vkdj fvkjd fvjdkf vkdjf vkdjf vkd fvjkd fvkd fvkdjfv djvdkfv djkf vkdjf vkdj fvkjdf vkd fvkjd fvkjd fvjk dfjkv dkfj vdkjf vkdjf vjd fvjkdf vkjd fvkj fdjvk dkfjv dkjfdfvdfvdfvdfv</h1>
                </div>

                <div class="card">
                    <h1>sjandjnasjndjsandjsadjnjnjdnasjdnjasndjjjnjsdjjndfvndfjvdjfvjdkf vjdf vjdf vkdjf vkdjf vjd vkdj fvkjd fvjdkf vkdjf vkdjf vkd fvjkd fvkd fvkdjfv djvdkfv djkf vkdjf vkdj fvkjdf vkd fvkjd fvkjd fvjk dfjkv dkfj vdkjf vkdjf vjd fvjkdf vkjd fvkj fdjvk dkfjv dkjfdfvdfvdfvdfv</h1>
                </div>

                <div class="card">
                    <h1>sjandjnasjndjsandjsadjnjnjdnasjdnjasndjjjnjsdjjndfvndfjvdjfvjdkf vjdf vjdf vkdjf vkdjf vjd vkdj fvkjd fvjdkf vkdjf vkdjf vkd fvjkd fvkd fvkdjfv djvdkfv djkf vkdjf vkdj fvkjdf vkd fvkjd fvkjd fvjk dfjkv dkfj vdkjf vkdjf vjd fvjkdf vkjd fvkj fdjvk dkfjv dkjfdfvdfvdfvdfv</h1>
                </div>

                <div class="card">
                    <h1>sjandjnasjndjsandjsadjnjnjdnasjdnjasndjjjnjsdjjndfvndfjvdjfvjdkf vjdf vjdf vkdjf vkdjf vjd vkdj fvkjd fvjdkf vkdjf vkdjf vkd fvjkd fvkd fvkdjfv djvdkfv djkf vkdjf vkdj fvkjdf vkd fvkjd fvkjd fvjk dfjkv dkfj vdkjf vkdjf vjd fvjkdf vkjd fvkj fdjvk dkfjv dkjfdfvdfvdfvdfv</h1>
                </div>

                <div class="card">
                    <h1>sjandjnasjndjsandjsadjnjnjdnasjdnjasndjjjnjsdjjndfvndfjvdjfvjdkf vjdf vjdf vkdjf vkdjf vjd vkdj fvkjd fvjdkf vkdjf vkdjf vkd fvjkd fvkd fvkdjfv djvdkfv djkf vkdjf vkdj fvkjdf vkd fvkjd fvkjd fvjk dfjkv dkfj vdkjf vkdjf vjd fvjkdf vkjd fvkj fdjvk dkfjv dkjfdfvdfvdfvdfv</h1>
                </div>
            </div>
        </section>
    </header>
    
</body>
</html>