<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=div, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Focai</title>
</head>
<body>
    <header>
        <div class="main">
            <div class="botao">
                <a href="#">
                    <button>FOCAÍ</button>
                </a>
            </div>

                <nav class="menu-header">
                    <ul>
                        <li><a href="./index.html">Sobre nós</a></li>
                        <li><a href=".index.html">Categorias</a></li>
                        <li><a href="./index.html">Contactos</a></li>
                    </ul>
                </nav>
        </div>
    </header>

    <section id="topo-do-site">
        <div class="interface">
            <div class="flex">
                <div class="txt-topo-site">
                    <h1>Focaí</h1>
                    <p>É mais que uma biblioteca de mantras. É um portal para o seu potencial ilimitado, onde você encontra frases inspiradoras e personalizadas para impulsionar sua jornada de sucessos <span>.</span></p>
                    </div>
                    
                <div class="img-topo-site">
                    <img src="/images/foca.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="categorias">
        <div class="card-container">
            <div class="card">
                <img src="/images/eng.jpg" alt="engenharias">
                <div class="card-content">
                       <h3>ENGENHARIA</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, a. Earum nam, animi aperiam obcaecati quae doloremque, voluptate dolores minus nulla sapiente labore in nobis rem quos, non eum a.</p>
                        <a href="./html/engenharia.html" class="btn">Ler mais</a>
                </div>
            </div>

            <div class="card">
                <img src="/images/med.jpg" alt="Medicina">
                <div class="card-content">
                    <h3>MEDICINA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, a. Earum nam, animi aperiam obcaecati quae doloremque, voluptate dolores minus nulla sapiente labore in nobis rem quos, non eum a.</p>
                    <a href="./html/medicina.html" class="btn">Ler mais</a>
                </div>
            </div>

            <div class="card">
                <img src="/images/filo1.jpg" alt="Filosofia">
                <div class="card-content">
                    <h3>FILOSOFIA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, a. Earum nam, animi aperiam obcaecati quae doloremque, voluptate dolores minus nulla sapiente labore in nobis rem quos, non eum a.</p>
                    <a href="./html/filosofia.html" class="btn">Ler mais</a>
                </div>
            </div>

            <div class="card">
                <img src="/images/agro.jpg" alt="Agronomia">
                <div class="card-content">
                    <h3>AGRONOMIA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, a. Earum nam, animi aperiam obcaecati quae doloremque, voluptate dolores minus nulla sapiente labore in nobis rem quos, non eum a.</p>
                    <a href="./html/agronomia.html" class="btn">Ler mais</a>
                </div>
            </div>

                
        </div>
    </section>

    <section class="footer">
            <div class="footer-content">
                <h4>Menu</h4>
                    <li><a href="">Sobre nos</a></li>
                    <li><a href="">Categorias</a></li>
                    <li><a href="">Contactos</a></li>
                </div>

                <div class="footer-content">
                    <h4>Categorias</h4>
                    <li><a href="./engenharia.html">Engenharia</a></li>
                    <li><a href="./medicina.html">Medicina</a></li>
                    <li><a href="./filosofia.html">Filosofia</a></li>
                    <li><a href="./agronomia.html">Agronomia</a></li>
                </div>
                        
                <div class="icons">
                    <h4>Fale connosco</h4>
                    <a href=""><i class='bx bxl-facebook-circle'></i></a>
                    <a href=""><i class='bx bxl-instagram' ></i></a>
                    <a href=""><i class='bx bxl-twitter' ></i></a>
                    <a href=""><i class='bx bxl-tiktok' ></i></a>
                    <button>Voltar ao inicio</button>
                </div>
    </section>
</body>
</html>