<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./med.css">
    <title>Categorias</title>
</head>
<body>
    <header>
            <h1> O mundo das engenharias pode ser desafiador <span>!!</span> </h1>
            <p>Todos os dias enfrentamos desafios novos, experiências novas acompanadas de uma gama de aprendizado. Cabe à nós resolvễ-los e criar algo novo enquanto resolvemo-los.</p>
    </header>

    <div class="timeline">
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div><div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta, fuga dolore sapiente ratione dignissimos beatae aperiam itaque libero minus at asperiores consectetur fugiat error? Laborum a consectetur quo at!</p>
                <h2>antonio thone</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>
    
</body>
</html>