<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./med.css">
    <title>Categorias</title>
</head>
<body>
    <header>
            <h1> Precisamos salvar vidas <span>!</span> </h1>
            <p>Enquanto pudermos fazer algo para salvar a vida de alguém, todo esforço vale a pena.</p>
    </header>

    <div class="timeline">
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"A medicina é a arte de prevenir doenças e prolongar a vida."</p>
                <h2>Hipócrates, médico grego e considerado o "pai da medicina"</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"O corpo humano é a mais bela obra de Deus."</p>
                <h2> Leonardo da Vinci, polímata italiano e precursor da anatomia humana</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"A medicina é a ciência da incerteza e a arte da probabilidade." </p>
                <h2>William Osler, médico canadense e figura influente na educação médica</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"Um médico deve ter conhecimento científico, habilidade técnica e compaixão humana."</p>
                <h2>Albert Schweitzer, médico alemão, teólogo e filósofo</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A prevenção é sempre melhor que a cura."</p>
                <h2>Benjamin Franklin, polímata americano e um dos Pais Fundadores dos Estados Unidos</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div><div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"O médico deve ser amigo do paciente e não apenas um curandeiro." </p>
                <h2>Maimonides, médico, filósofo e rabino judeu do século XII</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A medicina é uma ciência em constante evolução, e o médico deve estar sempre disposto a aprender."</p>
                <h2>William Harvey, médico inglês e descobridor da circulação sanguínea</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A saúde é o maior bem que podemos ter." </p>
                <h2> Ralph Waldo Emerson, filósofo e escritor americano</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>
    
</body>
</html>