*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    min-height: 100vh;
}

header{
    padding: 80px 13% 70px;
}

.flex{
    display: flex;
}

header > .main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: azure;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    
}

header a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.55);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.menu-header  a{
    font-size: 32px;
    font-weight: bold;
}

header .botao button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #050417;
    background-color: #FFF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .botao button:hover{
    box-shadow: 0px 0px 6px #FFF;
}

main{
    margin: 0 auto;
}

section#topo-do-site{
    padding: 6% 2%;
    height: 100vh;
}

section#topo-do-site .flex{
    display: flex;
    justify-content: space-between;
    gap: 1.89rem;
    padding: 80px 13% 70px;
}

#topo-do-site h1{
    color: rgb(190, 219, 60);
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
}

#topo-do-site .txt-topo-site p span{
    color: #FFF;
}

#topo-do-site .txt-topo-site p{
    color: #FFF;
    margin: 32px 0;
    font-size: 60px;
}

#topo-do-site .img-topo-site img{
    border-radius: 32px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

section#categorias{
    height: 100vh;
    padding: 40px 4%;
    background: #000000;
}

#topo-do-site .cat{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#categorias .cat-1{
    color: #FFF;
    align-items: center;
    text-align: center; 
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn1,
.btn2,
.btn3,
.btn4{
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.card-content .btn1:hover{
    background: rgb(7, 164, 255);
}

.card-content .btn2:hover{
    background: rgb(31, 136, 31);
}

.card-content .btn3:hover{
    background: rgb(127, 49, 201);
}

.card-content .btn4:hover{
    background: rgb(7, 164, 255);
}


.footer{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    position: absolute;
    left: 0;
    right: 0;
    background: #FFF4F4;
    padding: 80px 13% 70px;
    list-style: none;
    font-weight: bold;
    font-size: 32px;
}


.footer-content h4{
    margin-bottom: 1.5rem;
    font-size: 30px;
}

.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    transition: all .40s ease;
}

.footer-content li a:hover{
    transform: translateY(-3px) translateX(-3px);
}

.footer-content p{
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}

.icons a{
    margin-top: 30px;
    color: #000000;
    display: inline-block;
    font-size: 22px;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover{
    transform: translateY(-5px);
}

.icons button{
    color: #ccc;
    background: #000;
    display: grid;
    margin: 8%;
    font-weight: bold;
    transition: all .40s ease;
}
.icons button:hover{
    transform: translateY(-3px) translateX(-3px);
}

@media(max-width:1690px){
    section{
        padding: 50px 5% 40px;
    }
}

@media(max-width:1120px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2rem;
    }
}

@media(max-width:700px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}