*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: burlywood;
    height: 100vh;
    color: azure;
}

header{
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 4%;
}


header >.main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}