*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    min-height: 100vh;
}

header{
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 4%;
}

.flex{
    display: flex;
}

header > .main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: azure;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    
}

header a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.55);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .botao button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #050417;
    background-color: #FFF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .botao button:hover{
    box-shadow: 0px 0px 6px #FFF;
}

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #FFF;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p span{
    color: #FFF;
}

.topo-do-site .txt-topo-site p{
    color: #FFF;
    margin: 40px 0;
    font-size: 32px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}