*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 32rem;   
}

body h1{
    color: #fff;
    font-size: bold;
    align-items: center;
    justify-content: center;
}