<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/eng.css">
    <title>Categorias</title>
</head>
<body>
    <header>
            <h1> O mundo das engenharias pode ser desafiador <span>!!</span> </h1>
            <p>Todos os dias enfrentamos desafios novos, experiências novas acompanadas de uma gama de aprendizado. Cabe à nós resolvễ-los e criar algo novo enquanto resolvemo-los.</p>
    </header>

    <div class="timeline">
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"Engineering is the art of directing the great sources of power in nature for the benefit of man." </p>
                <h2>Henry Petroski, American engineer and author</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>The best engineers use their talents to bring a better future to everyone."</p>
                <h2>Elon Musk, South African-born American entrepreneur and businessman

                </h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"Engineering is the art of solving problems that don't even exist yet."</p>
                <h2>Donald Rumsfeld, American politician and former United States Secretary of Defense

                </h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"Engineers are the dreamers and doers who make our world a better place."</p>
                <h2>Theodore von Kármán, Hungarian-American physicist and engineer</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"The engineer's greatest joy is to create something useful and beautiful."</p>
                <h2>Isambard Kingdom Brunel, English civil engineer</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div><div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"Engineering is not just about building things, it's about making the world a better place."</p>
                <h2>Grace Hopper, American computer scientist and United States Navy rear admiral</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"An engineer is a person who can take a problem and make it worse."</p>
                <h2>Jim Barksdale, American business executive and former CEO of Netscape Communications</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"Engineering is the art of doing more with less." </p>
                <h2> Leonardo da Vinci, Italian polymath of the High Renaissance</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>


    <section class="footer">
        <a href="../index.html" class="btn">Voltar</a>
        <a href="../index.html" class="btn">Voltar</a>
    </section>
    
</body>
</html>