<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/filo.css">
    <title>Categorias</title>
</head>
<body>
    <header>
            <h1> Sei o que nada sei <span>!!</span> </h1>
            <p>A lógica da vida nos remete à dilemas entre o que é certo, e o que não é.</p>
    </header>

    <div class="timeline">
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"A vida sem reflexão não vale a pena ser vivida."</p>
                <h2>Sócrates, filósofo grego e considerado o "pai da filosofia ocidental"</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"Conhece-te a ti mesmo." </p>
                <h2>Platão, filósofo grego e discípulo de Sócrates</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg">
            <div class="text-box">
                <p>"O que importa não é a vida que se vive, mas como se vive."</p>
                <h2>Sêneca, filósofo romano e estadista</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A dúvida é o início da sabedoria."</p>
                <h2>René Descartes, filósofo francês e considerado o "pai do racionalismo moderno"</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"Penso, logo existo." </p>
                <h2>René Descartes, filósofo francês e considerado o "pai do racionalismo moderno"</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div><div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A verdade é a luz que ilumina a inteligência."</p>
                <h2> Santo Agostinho, filósofo, teólogo e bispo de Hipona</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"O conhecimento é poder."</p>
                <h2>Francis Bacon, filósofo, cientista e estadista inglês</h2>
                <small>100 - 100</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="/images/o_que_fazemos.jpeg"> 
            <div class="text-box">
                <p>"A mente é como um pára-quedas: só funciona quando está aberta." </p>
                <h2>Albert Einstein, físico alemão e considerado o "pai da teoria da relatividade"</h2>
                <small>100 - 100</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>
    
</body>
</html>